{% extends "base.html" %}
{% load staticfiles %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "js/libs/morrigan/css/morrigan-jquery-editor.css" %}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/add-post.css" %}"/>
{% endblock %}
{% block head-script %}
{% endblock %}
{% block blog-container %}
    <div class="form-wrapper">
        <div class="field">
            <div><label for="title">Заголовок</label></div>
            <div><input type="text" name="title" id="title"/></div>
            <div class="validation-msg" data-for="title">Обязательно для заполнения</div>
        </div>
        <div class="field">
            <div><span>Сообщение</span></div>
            <div id="editor" ></div>
            <div class="validation-msg" data-for="editor">Обязательно для заполнения</div>
        </div>
        <div class="field">
            <div><input type="checkbox" id="is_public" name="is_public" checked/>
                <label for="is_public"> Публиковать</label></div>
            <div><input type="checkbox" id="use_post_image" name="use_post_image" checked/>
                <label for="use_post_image" title="Первое изоображение в сообщение будет выводится в ленте новостей">
                    Использовать изображение в сообщение в качестве обложки</label></div>
        </div>
        <span id="submit" class="submit-button">Сохранить</span>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block footer-script %}
    <script src="{% static "js/libs/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/libs/jQueryUI/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script src="{% static "js/libs/morrigan/morrigan-jquery-editor.js" %}"></script>
    <script src="{% static "js/add-post.js" %}"></script>
{% endblock %}