{% load staticfiles %}
{% load categories %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Blog</title>
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="classification" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="shortcut icon" href="{% static "img/faveicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/post.css" %}" type="text/css" />
    <script>
        window.__PAGE_TITLE__ = '';
        window.__SECTION_TITLE__ = '';
        window.__STATIC_URL__ = "{{ STATIC_URL }}";
        window.__MEDIA_URL__ = "{{ MEDIA_URL }}";
    </script>
    <script src="{% static "js/libs/modernizr-2.5.3.min.js" %}"></script>
    <script>
        window.__BLOG_URL__ = '/blog/';
        window.__BLOG_POST_URL__ = '/blog/post/';
        window.__URL_LIST__ = '/blog/post-list/';
        window.__MAXPAGE__ = 2;
    </script>
</head>
<body class="menu-fixed {% if post %}post-detail-page{% endif %}">
<div class="nav-content-wrapper">
    <div class="nav-content grid-width">
        <div class="bg-nav"></div>
        <h1 class="logo"><a href="/" class="expand">Главная</a></h1>
        <nav class="main-nav">
            <div class="border">
                <div class="ball"></div>
                <div class="ball_small ball_left"></div>
                <div class="ball_small ball_right"></div>
            </div>
            <ul>
                <li class="link-exposicao it-exposicao"><a href="#"></a></li>
                <li class="link-artistas"><a href="#"></a></li>
                <li class="link-zipper"><a href="#"></a></li>
                <li class="link-social"><a href="#"></a></li>
                <li class="link-contato"><a href="#"></a></li>
                <li class="active"><a href="#"></a></li>
                <li id="switch-lang" class="it-lang">
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="blog-wrapper">
    <div class="blog-container blog-grid">
        <div class="blog-title">
            <h2 class="title"><a href="/blog/" class="bb-url">Личный блог</a></h2>

            <form class="search-form" action="." method="get">
                <select class="category-filter">
                    <option value="0">Все</option>
                    {% categories %}
                </select>

                <input type="text" placeholder="ПОИСК" name="q" id="query">
                <input type="submit" value="ok">
            </form>

            <a class="back-button bb-url" href="/blog/">Назад</a>
        </div>
        {% block post %}
        {% endblock %}
        <ul class="posts clearfix"></ul>
        <p class="load-more state-loading">
            <img src="{% static "img/loading_posts.gif" %}" alt="" class="loading">
        </p>
    </div>
</div>
{% block nav_button %}
{% endblock %}
<div class="post-loading"><img src="{% static "img/loading.gif" %}" alt=""></div>
<script type="text/javascript" src="{% static "js/libs/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/post.js" %}"></script>
    </body>
</html>