{% extends "base-post.html" %}
{% block post %}
<div class="post-detail"
     {% if next != "" %}
        data-next-post="{{ next }}"
     {% endif %}
     {% if prev != "" %}
        data-prev-post="{{ prev }}"
     {% endif %} >
    <h3 class="title">{{ post.title }}
        <a href="/blog/add-post/#id={{ post.id }}" id="edit_post" title="Редактировать"><i class="fa fa-pencil-square-o"></i></a></h3>
    <p class="date">{{ post.date|date:'d.m.Y' }}</p>
    <ul class="meta clearfix">
        <li class="cat">{{ post.category.name }}</li>
        <li class="com"><span>0</span> Комментариев </li>
        <li></li>
        <li></li>
        <li></ul>
    <div class="post-text clearfix">
        {% autoescape off %}
            {{ post.text }}
        {% endautoescape %}
    </div>
    <div class="post-info">
{#        <p class="cat"><span>category:</span> {{ post.category.name }}</p>#}
        <p class="tags">
            <span class="title-tags"></span>
            {% for t in post.tags.all %}
                <a data-tag="{{ t.name }}" class="tag-link" href="#{{ t.name }}">{{ t.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
{#    <div class="post-section post-images">#}
{#        <h4 class="title">[photos in this post]</h4>#}
{#        <ul class="image-list clearfix">#}
{#            {% for img in post-images %}#}
{#                <li class="image">#}
{#                    <a href="{{ img. }}" rel="gallery"#}
{#                       title="{{  }}">#}
{#                        <img src="{{ img. }}"#}
{#                             alt="{{  }}">#}
{#                        <span class="box"></span>#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
    <div class="facebook-comments"></div>
</div>
{% endblock %}
{% block nav_button %}
    <ul class="blog-nav">
        {% if next != "" %}
            <li class="prev"><a class="ir bb-url" href="{{ next }}">вперед</a></li>
        {% endif %}
        {% if prev != "" %}
            <li class="next"><a class="ir bb-url" href="{{ prev }}">назад</a></li>
        {% endif %}
    </ul>
{% endblock %}