.ir {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left
}

/*.ir-input {*/
    /*text-indent: -119988px;*/
    /*overflow: hidden;*/
    /*text-align: left;*/
    /*line-height: 0*/
/*}*/

.blank {
    background: url('../img/blank.gif') repeat 0 0 !important
}

/*.full-width {*/
    /*width: 100%*/
/*}*/

/*.full-height {*/
    /*height: 100%*/
/*}*/

/*.cursor {*/
    /*cursor: pointer*/
/*}*/

/*.main-header {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*margin-bottom: 13px;*/
    /*background: #171717*/
/*}*/

/*.main-header .bg-image {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*display: none*/
/*}*/

/*.main-header .scrolldown {*/
    /*text-indent: -119988px;*/
    /*overflow: hidden;*/
    /*text-align: left;*/
    /*background-image: url('http://static.zippergaleria.com.br/static/images/global/scrolldown.png?1372856462');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*width: 121px;*/
    /*height: 45px;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 30%;*/
    /*margin-top: -22.5px;*/
    /*margin-left: -60.5px*/
/*}*/

.blog-title {
    position: relative
}

.blog-title .title {
    color: #7fbcc6;
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif
}

.blog-title .title a {
    color: #7fbcc6
}

.blog-title .back-button {
    background: url('../img/bg_back_button.png') no-repeat 10px center #72afb6;
    display: block;
    padding: 10px 15px 10px 30px;
    position: absolute;
    right: 0;
    top: 95px;
    font-size: 1.4em;
    color: #fff;
    text-transform: uppercase;
    display: none
}

body.post-detail-page .blog-title .back-button {
    display: block
}

.search-form {
    position: absolute;
    top: 6px;
    right: 0;
    width: 510px
}

.search-form .select-skin {
    float: left;
    width: 250px;
    border: 1px solid #cacaca;
    background: #fff
}

.search-form .select-skin .select-skin-mask {
    background: url('../img/bg_select.gif') no-repeat right center
}

.search-form .select-skin .select-skin-text-clip {
    margin-right: 42px;
    background: none
}

.search-form .select-skin .select-skin-text {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #888;
    line-height: 1.1em
}

.search-form .select-skin select {
    font-size: 1.4em;
    color: #888;
    text-transform: uppercase
}

.search-form .select-skin select option {
    text-transform: uppercase
}

.search-form input[type="text"] {
    float: right;
    font-size: 1.8em;
    color: #888;
    font-family: 'Cuprum', sans-serif;
    border: 1px solid #cacaca;
    line-height: 28px;
    height: 29px;
    padding: 0 40px 0 10px;
    width: 195px;
    background: #fff
}

body.mobile .search-form input[type="text"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: caret;
    -moz-appearance: caret
}

.search-form input[type="text"]::-webkit-input-placeholder {
    line-height: 29px;
    color: #888;
    font-size: 18px
}

.search-form input[type="submit"] {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../img/input_submit.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 8px
}

.posts {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 10px
}

body.post-detail-page .posts {
    display: none
}

.posts .post {
    position: relative;
    width: 294px;
    margin: 0 0 20px 0;
    overflow: hidden
}

.posts .post.highlight {
    width: 605px;
    overflow: hidden
}

.posts .post .post-content {
    padding: 1.2em 1.6em
}

.posts .post .title {
    color: #649da6;
    font-size: 2.4em;
    text-transform: uppercase;
    line-height: 1.2em;
    padding-bottom: .6em
}

.posts .post .text {
    font-size: 1.4em;
    color: #989898;
    font-family: 'Cuprum', sans-serif;
    text-align: justify;
    line-height: 1.3em;
    padding-bottom: .8em
}

.posts .post .date {
    color: #fff;
    background: #bad9de;
    display: inline-block;
    font-size: 1.6em;
    padding: 4px 10px
}

html.lt-ie8 .posts .post .date {
    display: inline;
    zoom: 1
}

.posts .post .post-image {
    position: relative;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .5;
    -webkit-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -o-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms
}

.posts .post .post-image .box {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../img/post_hover.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 38px;
    height: 38px;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition-delay: 100ms;
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: 0 0 0 -19px
}

.posts .post:hover .title, .posts .post.highlight .title {
    color: #0294ca
}

.posts .post:hover .text, .posts .post.highlight .text {
    color: #6e6e6e
}

.posts .post:hover .date, .posts .post.highlight .date {
    background-color: #7fbcc6
}

.posts .post:hover .post-image, .posts .post.highlight .post-image {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.posts .post img {
    width: 294px;
}

.posts .post:hover .box {
    top: 50%;
    margin-top: -19px
}

.load-more {
    display: block;
    width: 12.7em;
    margin: 0 auto;
    color: #fff;
    background-color: #7fbcc6;
    font-size: 1.8em;
    line-height: 2.5em;
    height: 2.5em;
    font-family: 'Cuprum', sans-serif;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    position: relative
}

body.post-detail-page .load-more {
    display: none
}

.load-more:hover {
    background-color: #8ecad4
}

.load-more a {
    display: block;
    color: #fff
}

.load-more .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -8px;
    display: none
}

.load-more.state-loading a {
    display: none
}

.load-more.state-loading .loading {
    display: block
}

.post-detail {
    width: 895px;
    padding-top: 45px;
    margin: 0 auto;
    color: #6e6e6e;
    background: #f5f7f6;
    font-family: 'Cuprum', sans-serif
}

.post-detail.pre-show {
    position: absolute;
    left: 150%;
    top: 150px;
    z-index: 3;
    margin-left: -447px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.post-detail a {
    color: #6e6e6e
}

.post-detail .title {
    color: #649da6;
    font-size: 3.6em;
    line-height: 1em;
    padding-bottom: .6em;
    text-transform: uppercase;
    margin-right: 2em
}

.post-detail .date {
    color: #fff;
    background: #7fbcc6;
    display: inline-block;
    font-size: 1.6em;
    padding: 4px 10px
}

html.lt-ie8 .post-detail .date {
    display: inline;
    zoom: 1
}

.post-detail .meta {
    padding-top: 20px;
    padding-bottom: 30px;
    min-height: 26px
}

.post-detail .meta li {
    float: left;
    font-size: 1.4em;
    color: #6a6a6a;
    font-family: 'Cuprum', sans-serif;
    margin-right: 10px;
    line-height: 1.5em
}

.post-detail .meta .cat span {
    color: #7FBCC6
}

.post-detail .meta .com {
    background: url('../img/bg_comments.png') no-repeat left center;
    padding-left: 30px
}

.post-detail .post-text {
    color: #6e6e6e;
    font-size: 1.4em;
    line-height: 1.3em
}

.post-detail .post-text img {
    float: left;
    margin: 0 25px 25px 0
}

.post-detail .post-text p {
    padding-bottom: 1.2em;
    font-size: 1.4em;
}

.post-detail .post-text a {
    color: #68979f
}

.post-detail .post-text a:hover {
    text-decoration: underline
}

.post-detail .post-info {
    background-color: #fcfdfc;
    font-size: 1.4em;
    padding: 1.2em 2.5em
}

.post-detail .post-info a {
    color: #6e6e6e
}

.post-detail .post-info a:hover {
    color: #649da6
}

.post-detail .post-info .author {
    float: left;
    padding-right: 10px;
    border-right: 1px dotted #9a9a9a
}

.post-detail .post-info .author span {
    color: #649da6
}

.post-detail .post-info .cat {
    padding-left: 10px;
    float: left
}

.post-detail .post-info .cat span {
    color: #649da6
}

.post-detail .post-info .tags {
    padding-left: 34px;
    line-height: 2em;
    padding-top: .5em;
    width: 100%;
    clear: both;
    background: url('../img/tags_icon.png') no-repeat left 14px
}

.post-detail .post-info .tags span {
    color: #649da6
}

.post-detail .post-section {
    padding-top: 28px
}

.post-detail .post-section .title {
    color: #649da6;
    font-size: 2.4em;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: .6em;
    font-family: 'Cuprum', sans-serif
}

.post-detail .post-images {
    width: 100%;
    overflow: hidden
}

.post-detail .post-images .image-list {
    width: 110%
}

.post-detail .post-images .image-list .image {
    position: relative;
    overflow: hidden;
    float: left;
    width: 215px;
    height: 215px;
    margin: 0 10px 10px 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .5;
    -webkit-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -o-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms
}

.post-detail .post-images .image-list .image .box {
    display: block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../img/post_hover.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 38px;
    height: 38px;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition-delay: 100ms;
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000) 100ms;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: 0 0 0 -19px;
    z-index: 1
}

.post-detail .post-images .image-list .image img {
    display: block;
    position: absolute
}

.post-detail .post-images .image-list .image a {
    display: block;
    width: 215px;
    height: 215px
}

.post-detail .post-images .image-list .image:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.post-detail .post-images .image-list .image:hover .box {
    top: 50%;
    margin-top: -19px
}

.post-detail .post-video .video {
    padding-bottom: 30px
}

.post-detail .post-files .files .file {
    background: #fcfdfc;
    color: #5f5f5f;
    font-size: 1.4em;
    font-family: 'Cuprum', sans-serif;
    line-height: 1em;
    padding: 9px 0;
    margin-bottom: 6px
}

.post-detail .post-files .files .file a {
    color: #5f5f5f;
    display: block
}

.post-detail .post-files .files .file a:hover {
    color: #969494
}

.post-detail .post-files .files .file-name {
    float: left;
    padding-left: 17px
}

.post-detail .post-files .files .download {
    float: right;
    background: url('../img/icon_download.png') no-repeat right center;
    padding-right: 28px;
    margin-right: 33px
}

.post-detail .facebook-comments {
    padding: 30px 0 0 0
}

.blog-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}

@media screen and (max-width: 1085px) {
    .blog-nav {
        display: none !important
    }
}

.blog-nav.hidden {
    display: none
}

.blog-nav li {
    position: absolute;
    top: 400px
}

.blog-nav li a {
    display: block;
    position: absolute;
    width: 60px;
    height: 76px;
    background: url('../img/nav_buttons.png') no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -38px;
    z-index: 4;
    -webkit-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -o-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms
}

.blog-nav li.prev {
    left: 0
}

.blog-nav li.prev a {
    background-position: left top;
    left: 26px
}

.blog-nav li.prev.disabled a {
    left: -60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.blog-nav li.next {
    right: 0
}

.blog-nav li.next a {
    background-position: right top;
    right: 26px
}

.blog-nav li.next.disabled a {
    right: -60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.post-loading {
    width: 100%;
    height: 100%;
    background: url('../img/bg_loading.png') repeat 0 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none
}

.post-loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -20px
}

body .fancybox-close {
    width: 64px;
    height: 61px;
    background: url('../img/fancybox_buttons.png') no-repeat 0 0;
    top: 0;
    right: -64px
}

body .fancybox-skin {
    border-radius: 0 !important
}

body .fancybox-next span {
    width: 64px;
    height: 61px;
    background: url('../img/fancybox_buttons.png') no-repeat 0 -62px;
    right: 0;
    margin-top: -30px
}

body .fancybox-prev span {
    width: 64px;
    height: 61px;
    background: url('../img/fancybox_buttons.png') no-repeat left bottom;
    left: 0;
    margin-top: -30px
}

.select-skin {
    width: 200px;
    position: relative
}

.select-skin select {
    width: 100%;
    height: 100%;
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: menulist-button
}

.select-skin-mask {
    width: 100%;
    background: #333
}

.select-skin-text {
    width: 9999px;
    padding: 5px 10px;
    line-height: 1em;
    font-size: 1em
}

.select-skin-text-clip {
    margin-right: 35px;
    overflow: hidden;
    background: #999
}

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity
}

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s
}
